*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}
.Titulo{
    background-color: rgb(66, 217, 228);
    color: white;
    text-align: start;
    font-size: 22px;
}
.Lista-todo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.lista_itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    height: 50px;
    background-color: aqua;
    margin: 2px;
    border-radius: 6px;
    overflow: hidden;
}
input[type=text]{
    width: 100vw;
    height: 30px;
    text-align: center;
}
input[type=button], input[type=checkbox]{
    width: 30px;
    height: 30px;
    text-align: center;
}
@media (max-width: 1000px)
{
    .Lista-todo{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 850px)
{
    .Lista-todo{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px)
{
    .Lista-todo{
        margin-left: 17vw ;
        grid-template-columns: repeat(1, 1fr);
    }
}

